:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color: #F5F4F4;
  --color-dark-gray: #7A7A7A;
  --text-color-black: #443F3F;
  --text-color-white: #EDEDED;
  --color-light-gray: #8E8787;
  --button-color: #e8e8e8;
  --sign-in-button: #1f883d;

 
}

* {
  background: var(--bg-color);
  
}

/*  As classes center e stack abaixo fazem parte de um conjunto de técnicas do livro Every Layout (https://every-layout.dev/layouts/cover/)
que tem o objetivo de centralizar os elementos e garantir espaços entre eles de forma responsiva */

.center {
  max-width: 60vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  padding: 3rem;
}


.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

[class^='stack'] * {
  /* top and bottom margins in horizontal-tb writing mode */
  margin-block: 0;
}

.stack > * + *  {
  margin-block-start: 1.5rem;
}


.stack-small * + * {
  margin-block-start: 0.5rem;
}

.form-box {
  backgroud: white;
  color: var(--text-color-black);
  font-size: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: var(--text-color-black);
  min-width: 30vw;

}

label {
  color: var( --text-color-black);
  font-weight: 700;
  font-size: 1.33rem;
}


.button-sign-in {
  background: var(--sign-in-button);
  border: none;
  border-radius: 5px; 
  min-height: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: var( --text-color-white);
  font-weight: 700;
  font-size: 1rem;
}

header {
  background: var(--color-dark-gray);
  color: var(--text-color-white);
  font-weight: 700;
  border-radius: 5px; 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem 2rem;
  
}

.question {
  font-size: 1rem;
  font-weight: 700;  
}


.button-ligth-gray {
  background: var(--button-color);
  border: none;
  border-radius: 5px;
  min-width: 20vw;
  min-height: 40px;  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: var(--text-color-4lack);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-block-start: 1rem;


  
}

.button-sign-in:hover {
  transform: translateY(-0.15em);
}

.answer:focus {
  background: var(--color-dark-gray);
  color: var(--text-color-white);
}

.score-button {
  display:flex; 
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  min-width: 30vw;

}

.score {
  
  text-align: center;
  background: var(--button-color); 
  font-size: 1rem;
  font-weight: 700;  

}






 